<?xml version="1.0"?>
<launch>

  <arg name="paused" default="false"/>
  <arg name="gui" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="worlds/empty.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find ur_gym)/objects/ur_hand.xacro'" />
  <node name="spawn_ur10_with_hand" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -z 0.5" respawn="false" output="screen" />

  <include file="$(find ur_gym)/launch/ur10_hand_controller.launch" />

  <param name="cylindir_object_description" textfile="$(find ur_gym)/objects/cylindir.sdf" />
  <node name="spawn_cylindir" pkg="gazebo_ros" type="spawn_model" args="-gazebo -param cylindir_object_description -x 0.40 -y 0.6 -model cylindir"  respawn="false" output="screen" />

  <param name="camera_description" textfile="$(find ur_gym)/objects/camera.sdf" />
  <node name="spawn_camera" pkg="gazebo_ros" type="spawn_model" args="-gazebo -param camera_description -x 2.0 -y 1.3 -Y 3.14 -model camera"  respawn="false" output="screen" />

</launch>
